@font-face {
    font-family: Albert-Sans;
    src: url(../assets/fonts/AlbertSans-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Albert-Sans;
    src: url(../assets/fonts/AlbertSans-Italic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Albert-Sans;
    src: url(../assets/fonts/AlbertSans-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Albert-Sans;
    src: url(../assets/fonts/AlbertSans-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Albert-Sans;
    margin: 0;
    padding: 0;
}
