body {
  -webkit-print-color-adjust: exact !important;
  print-color-adjust: exact !important;
  margin: 0;
}

@page {
  margin: 0;
}

#content {
  display: grid;
  grid-template-columns: 75mm 140.9mm;
}

.first-col {
  background-color: #f8f8f8;
  padding: 2rem;
}

.second-col {
  padding: 2rem;
}

h1 + p {
  text-transform: uppercase;
  font-weight: 700;
  color: #444444;
  margin-bottom: 1rem;
}

h3 {
  font-size: 100%;
}

h4 {
  margin-bottom: -0.3rem;
}

#personal-projects {
  margin-top: 0;
}

#technical-skills + dl {
  display: block;
}

dt {
  margin-top: 0.25rem;
}

ul {
  padding-left: 1.5rem;
}

strong {
  color: #444444;
}
